<form [formGroup]="loginForm">
  <li [ngClass]="{'list-group-item' : true,
                'list-group-item-success': motTrouve === 'oui',
                'list-group-item-danger': motTrouve === 'non'}">
  <div class="form-group" >
    <label>Reponse</label>
    <input type="text" class="form-control" formControlName="username" formControlName="reponseQuizzZeroForm">
  </div>
    <button class="btn btn-success"
            (click)="onValideUneReponse(indexOfArray)"
            (click)="onSave()"
            (click)="onCount()"
            [disabled]="motTrouve === 'oui'"
            >Valider</button>
  <!--<div class="row">-->
    <div>
      <p>Nombre de tentatives : {{tentatives}} - Nombre de mots trouvés : {{scoreJoueur}} / {{nbReponses}}</p>
      <p>Titre du quizz : {{titreDuQuizz}}</p>
     </div>
  <!--</div>-->
    <app-aide
    [id]="id"
    [motAnglais]="motAnglais"
    [motFrancais]="motFrancais"
    [motTrouve]="motTrouve"></app-aide>
  </li>
</form>
<mat-basic-audio-player *ngIf="displayPlayer" [audioUrl]="msbapAudioUrl" [title]="msbapTitle" [autoPlay]="false"
                        [displayTitle]="false" [displayVolumeControls]="false"
                        (click)="playAudio()"></mat-basic-audio-player>
