<form [formGroup]="loginForm">
  <li [ngClass]="{'list-group-item' : true,
                'list-group-item-success': motTrouve === 'oui',
                'list-group-item-danger': motTrouve === 'non'}">
  <div class="form-group" >
    <label>Reponse</label>
    <input type="text" class="form-control" formControlName="username">
  </div>
    <button class="btn btn-success"
            (click)="onValideUneReponse(indexOfArray)"
            (click)="onSave()"
            (click)="onCount()"
            [disabled]="motTrouve === 'oui'">Valider</button>
  <div>Nombre de tentatives : {{tentatives}}</div>
  <div>Score global joueur : {{scoreJoueur}} / {{nbReponses}}</div>
    <app-aide
    [id]="id"
    [motAnglais]="motAnglais"
    [motFrancais]="motFrancais"
    [motTrouve]="motTrouve"></app-aide>
  </li>
</form>
