<ul>
  <li *ngFor="let theme of tabChoixQuizz;">
    <button (click)="onValiderChoix(theme.id)">Quizz : {{theme.nomQuizz}} - {{theme.id}}</button></li>
</ul>


<app-quizz-zero *ngIf="indiceChoix === 0"></app-quizz-zero>
<app-liste-mots *ngIf="indiceChoix === 3"></app-liste-mots>
<!--<app-quizz-zero *ngIf="indiceChoix === 0"-->
<!--[id]="ligne.id"-->
<!--[motAnglais]="ligne.motAnglais"-->
<!--[motFrancais]="ligne.motFrancais"-->
<!--[motTrouve]="ligne.motTrouve"-->
<!--[quizzAAfficher]="quizzAAfficher"></app-quizz-zero>-->
