<ul class="list-group">
  <li class="list-group-item" *ngFor="let theme of tabChoixQuizz;">
    <button (click)="onValiderChoix(theme.id)">Quizz : {{theme.nomQuizz}}</button></li>
</ul>


<app-quizz-zero *ngIf="indiceChoix === 0" [quizzAAfficher]="quizzAAfficher" [displayOk]="displayOK"></app-quizz-zero>
<app-quizz-zero *ngIf="indiceChoix === 1" [quizzAAfficher]="quizzAAfficher" [displayOk]="displayOK"></app-quizz-zero>
<app-quizz-zero *ngIf="indiceChoix === 2" [quizzAAfficher]="quizzAAfficher" [displayOk]="displayOK"></app-quizz-zero>
<app-quizz-zero *ngIf="indiceChoix === 3" [quizzAAfficher]="quizzAAfficher" [displayOk]="displayOK"></app-quizz-zero>
<app-liste-mots *ngIf="indiceChoix === 4" [quizzAAfficher]="quizzAAfficher"></app-liste-mots>
<app-quizz-zero *ngIf="indiceChoix === 5" [quizzAAfficher]="quizzAAfficher" [displayOk]="displayOK"></app-quizz-zero>


