<div class="row">
  <div class="col-xs-12">
    <h2>Quizz</h2>
    <div>
      <h4>Règles à respecter : </h4>
      <p>blablabla</p>

    </div>

    <ul class="list-group">
      <li [ngClass]="{'list-group-item' : true,
                'list-group-item-success': motTrouve === 'oui',
                'list-group-item-danger': motTrouve === 'non'}"
          *ngFor="let ligne of quizzAAfficher; let i = index;">
        <h4>{{ligne.id}} - {{ligne.motFrancais}} - Mot trouve : {{ligne.motTrouve}} .</h4>
        <app-login-form
          [id]="ligne.id"
          [motFrancais]="ligne.motFrancais"
          [motAnglais]="ligne.motAnglais"
          [motTrouve]="ligne.motTrouve"
          [indexOfArray]="i">
        </app-login-form>
      </li>
    </ul>
  </div>
</div>
<app-score></app-score>
<button (click)="verifDataQuizz()">Test transfert quizz</button>
